# Ignorar archivos sensibles
.env
config/.env

# Ignorar archivos de caché de Python
__pycache__/
*.pyc
*.pyo

# Ignorar entornos virtuales
venv/
.venv/

# Ignorar archivos de dependencias temporales
*.log
.DS_Store

# Ignorar archivos de configuración específicos
.gcloudignore
config/app.yaml

# Ignorar archivos de compilación (si en el futuro usare Docker)
docker-compose.override.yml
