Flask==2.3.2
requests==2.31.0
python-dotenv==1.0.0
spacy==3.5.0
es-core-news-sm @ https://github.com/explosion/spacy-models/releases/download/es_core_news_sm-3.5.0/es_core_news_sm-3.5.0.tar.gz
scikit-learn==1.2.2
numpy==1.23.5

